h1{
    display:block;
    font-size:2em;
    font-weight:bold;
    margin:4px auto;
    text-align:center;
  }
  .rainbow{
    margin:4px auto;
  }
  .rainbow tr td{
    padding:4px;
  }
  .rainbow tr:nth-child(7n-6){
    background-color:rgb(255,0,0);
  }
  .rainbow tr:nth-child(7n-5){
    background-color:rgb(255,100,0);
  }
  .rainbow tr:nth-child(7n-4){
    background-color:rgb(255,255,0);
  }
  .rainbow tr:nth-child(7n-3){
    background-color:rgb(0,255,0);
  }
  .rainbow tr:nth-child(7n-2){
    background-color:rgb(0,0,255);
  }
  .rainbow tr:nth-child(7n-1){
    background-color:rgb(150,50,255);
  }
  .rainbow tr:nth-child(7n){
    /*This is what all the nth-child are based on, number of tr elements you are going down and offset by those numbers*/
    background-color:rgb(200,0,200);
  }